@use "partials/sidebar";

$fa-font-path: "../fonts/font-awesome" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

#admin {
    height: 100vh;
    display: flex;

    #wrapper {
        flex-grow: 1;
        overflow-y: auto;
    }
    #sidebarMenu {
        // background-color: black;
        color: white;
    }
}

.img-placeholder {
    background-color: rgb(203, 203, 203);
    width: 100%;
    min-height: 250px;
    display: flex;
    text-align: center;
    border-radius: 15px;
    h4 {
        margin: auto;
    }
    img {
        max-width: 100%;
        object-fit: cover;
    }
}
.first-project {
    min-height: 300px;
}
textarea {
    height: 30vh;
}
