@use "partials/sidebar";

$fa-font-path: "../fonts/font-awesome" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// @import "~bootstrap/scss/_root.scss";


$primary: rebeccapurple;
$secondary: rgb(49, 95, 133);
$danger: rgb(186, 30, 69);

@import "~bootstrap/scss/bootstrap";

#admin {
    height: 100vh;
    display: flex;

    #wrapper {
        flex-grow: 1;
        overflow-y: auto;
    }
    #sidebarMenu {
        // background-color: black;
        color: white;
    }
}

.img-placeholder {
    background-color: rgb(203, 203, 203);
    width: 100%;
    min-height: 250px;
    display: flex;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    h4 {
        margin: auto;
    }
    img {
        max-width: 100%;
        object-fit: cover;
    }
}
.first-project {
    min-height: 300px;
}
textarea {
    height: 30vh;
}
.box-img {
    height: 20vw;
    img {
        max-height: 100%;
    }
}
// .card {
//     transition: transform 0.5s;
//     &:hover {
//         transform: scale(1.03);
//     }
// }


#container-editor {
    width: 100%;
    margin: 20px auto;
}
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 250px;
}
.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}            
      